@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@300;400;500;600;700&family=Syne+Tactile&family=Ubuntu:wght@400;500;700&display=swap");

$text-main: #fff;

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", "Open-sans", sans-serif;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $text-main;
  transition: all ease-in-out 200ms;
}

button {
  cursor: pointer;
}
